/* Card container styles */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Card styles */
.card {
    max-width: 400px;
    /* Adjust the maximum width as needed */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* This will make the card height dynamic */
    margin: 0 10px;
    /* This will add a gap between the cards */
    flex-wrap: wrap;
    justify-content: space-between;
}
  

/* Card header styles */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

/* Card title styles */
.card-title {
    font-size: 20px;
    font-weight: bold;
}

/* Card index styles */
.card-index {
    font-size: 24px;
    color: #555;
}

/* Card divider styles */
.card-divider {
    border: 0.5px solid #ccc;
    margin: 10px 0;
}

/* Card prompt styles */
.card-prompt {
    font-size: 16px;
}

/* Card tools styles */
.card-tools {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

/* Tool icon styles */
.tool-icon {
    font-size: 24px;
    color: #f1f510af;
    cursor: pointer;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 100%;
    }
}